<section class="first-section">

	<div class="section third-height flex vertical-center">

		<div class="parallax-structure"></div>

		<div class="container">
			<div class="titles-internals">
				<h3>bom gosto para seu evento</h3>
				<h2>Infraestrutura</h2>
			</div>
		</div>
	</div>

</section>

<section class="padding-top padding-bottom-small">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h3 class="title-section">Infraestrutura</h3>
					<h2 class="title-background"><span>Infraestrutura</span></h2>
					<p class="subtitle-section">Um espaço de possibilidades para você e seu evento.</p>
					<hr>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<p class="text text-center">Quem passa pela Marginal Pinheiros, e se encanta com as luzes vermelhas que colorem o Teatro Santander, não imagina que, a partir de agora, o mesmo local abriga um dos espaços mais interessantes para a realização de eventos na capital.</p>
			</div>
		</div>
	</div>
</section>

<section class="padding-bottom-small">
	<div class="container">
		<div class="row">
			<div id="gallery-picture">
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/multifuncional.png'%>" data-src="<%= asset_path 'gallery-picture/multifuncional.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Multifuncional</h3>
							<hr>
							<p class="text">O 033 Rooftop ocupa o terceiro e último pavimento do Teatro Santander - apontado como um dos melhores teatros da capital - e possibilita a realização de eventos sociais ou corporativos, com sofisticação e elegância.</p>
                            <%= link_to "Planta baixa", asset_path("033_rooftop_planta.pdf"), class: 'btn-gallery', target: '_blank' %>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/1.jpg'%>" data-src="<%= asset_path 'gallery-picture/1.jpg'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Entrada Independente e Foyer</h3>
							<hr>
							<p class="text">Três elevadores, com capacidade para até 23 pessoas cada, localizados no Hall do Teatro Santander. Ambiente amplo e climatizado, ideal para receber seus convidados.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/terraco.png'%>" data-src="<%= asset_path 'gallery-picture/terraco.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Terraço</h3>
							<hr>
							<p class="text">Área externa de 200m², situada a mais de 20 metros de altura acima da Marginal Pinheiros e com visão panorâmica privilegiada da região.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/salao_principal.png'%>" data-src="<%= asset_path 'gallery-picture/salao_principal.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Salão Principal</h3>
							<hr>
							<p class="text">Ocupando 770 m² e altura que varia 4,5m a 6,5m, o salão multi-uso do 033 Rooftop apresenta a versatilidade e que poucos espaços para eventos possuem em São Paulo.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/bar_integrado.png'%>" data-src="<%= asset_path 'gallery-picture/bar_integrado.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Bar Integrado</h3>
							<hr>
							<p class="text">Mais de 16m lineares de balcão que integram os ambientes interno e externo.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/toaletes.png'%>" data-src="<%= asset_path 'gallery-picture/toaletes.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Toaletes Sociais<br><span>Masculino e Feminino</span></h3>
							<hr>
							<p class="text">Ambientes climatizados, compostos por espelhos retroiluminados e cabines com portas “piso-teto”, para maior privacidade. Acessibilidade para pessoas portadoras de necessidades especiais (PNE) e fraldário</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/varanda_privativa.png'%>" data-src="<%= asset_path 'gallery-picture/varanda_privativa.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Varanda Privativa</h3>
							<hr>
							<p class="text">A varanda privativa, permite uma visão privilegiada da região da Marginal Pinheiros. Seu acesso pode ser feito pelo salão principal, ou pela sala VIP.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/estrutura-cenica.jpg'%>" data-src="<%= asset_path 'gallery-picture/estrutura-cenica.jpg'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Estrutura Cénica</h3>
							<hr>
							<p class="text">Estrutura de suporte no forro que permite a total flexibilização de usos, permitindo distribuir canhões de iluminação, refletores, caixas de som e elementos decorativos. Pontos específicos da estrutura podem receber cargas pontuais de 100 até 400 kg.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/sala_reuniao_vip.png'%>" data-src="<%= asset_path 'gallery-picture/sala_reuniao_vip.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Sala de Reunião VIP</h3>
							<hr>
							<p class="text">Adjacente ao salão e com acesso exclusivo à varanda, a sala é climatizada e permite a recepção de convidados especiais e reuniões de presidência, com exclusiva privacidade.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/camarim.png'%>" data-src="<%= asset_path 'gallery-picture/camarim.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Camarim</h3>
							<hr>
							<p class="text">Com entrada separada dos espaços públicos, o grande camarim pode receber artistas , palestrantes, noivos e convidados especiais.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/cozinha.png'%>" data-src="<%= asset_path 'gallery-picture/cozinha.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Cozinha Industrial com Câmara Fria</h3>
							<hr>
							<p class="text">Equipada com área de higienização (segregação), depósito de alimentos, câmara fria, coifa master, inúmeras bancadas e prateleiras de aço inox e acesso lateral para o grande salão.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/retaguarda.png'%>" data-src="<%= asset_path 'gallery-picture/retaguarda.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Retaguarda</h3>
							<hr>
							<p class="text">Conta com 2 banheiros para portadores de necessidades especiais e 2 espaços de vestiários que garantem suporte ao corpo de Staff. Há também depósito para materiais de limpeza e espaço para recolhimento seletivo do lixo. Toda a área tem acesso a um elevador com capacidade de 3 toneladas para recebimento de mercadorias.</p>
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="box-image col-lg-8 no-padding">
						<img src="<%= asset_path 'gallery-picture/fachada.png'%>" data-src="<%= asset_path 'gallery-picture/fachada.png'%>" class="img-responsive owl-lazy" alt="">
					</div>
					<div class="col-lg-4 no-padding">
						<div class="box-text">
							<h3 class="title">Fachada</h3>
							<hr>
							<p class="text">Localizado dentro do Complexo WTJK, e no terceiro pavimento do Teatro Santander, o Rooftop encanta, quem passa pela Marginal Pinheiros, e têm visão da sua fachada, que é composta por luzes vermelhas, que colorem a caixa de tijolos de vidro do Teatro Santander.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container box-structure">
    <div class="row">
        <div class="col-lg-6 box-image box-image-right box-image-structure">
            <h3 class="title-section">TÓPICOS</h3>
            <h4 class="subtitle-section">Moderno, atemporal e multifuncional</h4>
            <hr class="hr-left">
            <p>Localizado no último pavimento do edifício do Teatro Santander, o 033 Rooftop é um novo espaço que oferece requinte, conforto, e o mais importante: versatilidade para a realização dos mais variados tipos de eventos.</p>
			<div class="accordion">

				<div class="accordion_in">
					<div class="acc_head">Mais de 1000m² de área</div>
					<div class="acc_content">
						<p>Terraço externo com área de 200m², integrado ao Salão Principal com um espaço amplo, multifuncional e com 770m² de área reservada para a realização de eventos.</p>
					</div>
				</div>

				<div class="accordion_in">
					<div class="acc_head">Elevador Jumbo</div>
					<div class="acc_content">
						<p>Com capacidade de 2,5 toneladas, o elevador Jumbo suporta equipamentos e é capaz de acomodar um carro.</p>
					</div>
				</div>

				<div class="accordion_in">
					<div class="acc_head">Multifuncional</div>
					<div class="acc_content">
						<p>Configurações múltiplas para atender eventos corporativos ou sociais:<br>
						- 432 pessoas para recepções como  banquetes e jantares; <br>
						- 512 pessoas para palestras em formato de auditório; <br>
						- 480 pessoas para auditório arena;<br>
						- 850 pessoas para coquetéis e festas; </p>
					</div>
				</div>

				<div class="accordion_in">
					<div class="acc_head">Cozinha Industrial <span class="hidden-sm-down">com Câmara Fria</span></div>
					<div class="acc_content">
						<p>Equipada com área de higienização, depósito de alimentos, câmara fria, coifa master, inúmeras bancadas e prateleiras em inox em ambiente azulejado, com acessos laterais ao grande salão.</p>
					</div>
				</div>

				<div class="accordion_in">
					<div class="acc_head">Acessibilidade</div>
					<div class="acc_content">
						<p>Estrutura completa para receber e acomodar pessoas com mobilidade reduzida e/ou portadoras de necessidades especiais, de acordo com a Normativa ABNT NBR 9050 : 2015.</p>
					</div>
				</div>

				<div class="accordion_in">
					<div class="acc_head">Sala VIP completa</div>
					<div class="acc_content">
						<p>Sala de reunião com acesso à varanda, com vista panorâmica privilegiada; camarim; sala técnica e outros ambientes reservados.</p>
					</div>
				</div>

				<div class="accordion_in">
					<div class="acc_head">Suporte Completo</div>
					<div class="acc_content">
						<p>Sala técnica e sala de apoio que permitem controlar todas as instalações, são climatizadas e aptas a receberem diversos equipamentos, conforme a necessidade de cada evento. Além de vestiário e banheiros exclusivos para a staff.</p>
					</div>
				</div>

				<div class="accordion_in">
					<div class="acc_head">Ar Condicionado</div>
					<div class="acc_content">
						<p>Totalmente climatizado, o 033 Rooftop oferece conforto e comodidade em cada ambiente.</p>
					</div>
				</div>

				<div class="accordion_in">
					<div class="acc_head">Vista Panorâmica</div>
					<div class="acc_content">
						<p>Localizado no topo do Teatro Santander, dentro do Complexo WTJK e a 20m de altura, acima da Marginal Pinheiros, o 033 Rooftop reserva uma vista panorâmica privilegiada da região para seus convidados. </p>
					</div>
				</div>
				<div class="accordion_in">
					<div class="acc_head">Piso Elevado</div>
					<div class="acc_content">
						<p>Sistema de placas reforçadas e de alto desempenho que contribuem para um ambiente clean, organizado e elegante.</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</section>

<section id="section-about-santander" class="margin-grd">
	<div class="container">
	    <div class="row flex-md-up">
	    	<div class="col-lg-6 col-lg-offset-6">
	            <div class="box box-line bg-about-santander">
	                <h2>
	                    <span class="title-section">Teatro Santander<br>+ 033 Rooftop</span>
	                </h2>
	                <hr class="hr-left">
	                <p>Com 800 lugares e uma área de mais de 1200m², divididos em ambientes internos e externos, o 033 Rooftop ocupa o terceiro e último pavimento do Teatro Santander - apontado como um dos melhores teatros da capital - e possibilita a realização de eventos sociais ou corporativos, com sofisticação e elegância.</p>
	                <a href="http://www.teatrosantander.com.br/comercial" target="_blank", class="btn-roof">Conheça</a>
	            </div>
            </div>
		</div>
	</div>
	<a href="https://www.santander.com.br/br/abra-sua-conta-corrente/" target="_blank"><img src="<%= asset_path 'clientes-corporativos.jpg'%>" class="img-responsive cliente-corporativo" alt="Vantagens Exclusivas Clientes Santander Corporativos"></a>
</section>

<section class="light-background padding-top padding-bottom-small">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="bigger-margin text-center">
					<h3 class="title-section">Fornecedores Exclusivos e<br>Parceiros Homologados</h3>
					<h2 class="title-background"><span>Serviços</span></h2>
					<p class="subtitle-section-dark">Excelência em cada detalhe</p>
					<hr>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<p class="text text-center">Com uma equipe altamente especializada, no 033 Rooftop, seu evento tem conforto, comodidade e excelência - em todos os detalhes. Conheça nossos serviços e fornecedores.</p>
                <%= link_to "Orçamento", new_budget_path, class: "btn-roof m-auto", data: {turbolinks:"false"} %>

			</div>
			<div class="col-md-12">
				<div id="logo-partners" class="logo-partners">
					<div class="text-center">
						<img src="<%= asset_path 'parceiros/rp-lighting.png'%>" class="img-responsive" alt="RP Lighting" >
					</div>
					<div class="text-center">
						<img src="<%= asset_path 'parceiros/mario-azevedo.png'%>" class="img-responsive" alt="Mario Azevedo - Gastronomia" >
					</div>
					<div class="text-center">
						<img src="<%= asset_path 'parceiros/logo-play.png'%>" class="img-responsive" alt="Play" >
					</div>
					<div class="text-center">
						<img src="<%= asset_path 'parceiros/gabisom.png'%>" class="img-responsive" style="padding-top: 30px" alt="Gabisom - Audio Equipment" >
					</div>
					<div class="text-center">
						<img src="<%= asset_path 'parceiros/netpark.jpg' %>" class="img-responsive" style="padding-top: 35px; width: 70%;" alt="Netpark" >
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	<div class="section darker-background dark-background" id="scroll-link">
		<div class="container">
			<div class="col-md-12">
				<div class="text-center">
					<h3 class="title">Infraestrutura</h3>
					<p class="subtitle">Moderno, atemporal e multifuncional.</p>
					<hr>
				</div>
			</div>
			<div class="col-md-10 col-md-offset-1">
					<div class="about-carousel-wrap">
						<div id="sync21" class="owl-carousel">
							<div class="item">
								<p>Ideal para a realização de eventos sociais, como formaturas; casamentos; aniversários; festas. O 033 Rooftop é um espaço amplo, dinâmico, pode receber mobiliário, decoração e iluminação complementar de acordo com a característica de cada evento agendado.</p>
							</div>
							<div class="item">
								<p>Multifuncional e adaptável, o 033 Rooftop possui uma estrutura completa para realizar eventos corporativos, como congressos, conferências, simpósios, palestras, premiações, desfiles de moda, entre outros. Os palcos podem ser montados de acordo com cada evento tirando o melhor proveito da altura. A Sala Técnica, para suporte audiovisual, permite o controle e a administração do ambiente.</p>
							</div>
						</div>

						<div id="sync22" class="owl-carousel">
							<div class="item">
								<div class="line"></div>
								<div class="line-ver"></div>
								<div class="point-item "></div>
								<p>Eventos Sociais</p>
							</div>
							<div class="item">
								<div class="line"></div>
								<div class="line-ver"></div>
								<div class="point-item "></div>
								<p>Eventos Corporativos</p>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

<section class="video-parallax section padding-top-bottom-med">

	<div class="parallax-2"></div>

	<div class="container">
		<div class="row">
			<div class="play-video">
				<h2>Tour Virtual 360º</h2>
				<h3>Multifuncionalidade e bom gosto para seu evento</h3>
				<a href="https://www.youtube.com/embed/0uIQ-IN8SXE" data-fancybox class=""><div class="button icon-control-play"></div></a>
			</div>
		</div>
	</div>

</section>

<section id="gallery">

	<div class="section padding-top-grd">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="bigger-margin text-center">
						<h3 class="title-section">Conheça 033 Rooftop</h3>
						<h2 class="title-background"><span>Galeria</span></h2>
						<p class="subtitle-section">Elegante, Versátil e Atemporal</p>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div id="box-gallery">

		<div class="portfolio-wrapper-1">
			<a href="<%= asset_path 'gallery/Rooftop_BiancaTatamiya003.jpg' %>" class="portfolio-wrap-four social" data-fancybox="abc" data-caption="Adjacente ao salão e com acesso exclusivo à varanda, a sala é climatizada e permite a recepção de convidados especiais, com exclusiva privacidade, até mesmo durante eventos. - Foto por: Bianca Tatamiya">
				<img  src="<%= asset_path 'gallery/Rooftop_BiancaTatamiya003.jpg' %>" alt="" />
				<div class="mask">
					<h6>Sala de Reunião VIP</h6>
				</div>
			</a>
			<a href="<%= asset_path 'gallery/lounge.jpg' %>" class="portfolio-wrap-four corporative" data-fancybox="abc" data-caption="Ideal para a realização de eventos sociais, como formaturas; casamentos; aniversários; festas, etc, o 033 Rooftop é um espaço amplo, dinâmico, pode receber mobiliário, decoração e iluminação complementar de acordo com a característica de cada evento agendado. - Foto por: Titan Cenografia">
				<img  src="<%= asset_path 'gallery/lounge.jpg' %>" alt="" />
				<div class="mask">
					<h6>Lounge</h6>
				</div>
			</a>
			<a href="<%= asset_path 'gallery/Rooftop_BiancaTatamiya032.jpg' %>" class="portfolio-wrap-four social" data-fancybox="abc" data-caption="Área com mais de 200m², situada a mais de 20 metros de altura acima da Marginal Pinheiros, com visão panorâmica privilegiada da região. - Foto por: Bianca Tatamiya">
				<img src="<%= asset_path 'gallery/Rooftop_BiancaTatamiya032.jpg' %>" alt="" />
				<div class="mask">
					<h6>Terraço</h6>
				</div>
			</a>
			<a href="<%= asset_path 'gallery/Rooftop_BiancaTatamiya036.jpg' %>" class="portfolio-wrap-four corporative" data-fancybox="abc" data-caption="Ambiente amplo e climatizado para receber os visitantes do terceiro pavimento do complexo. - Foto por: Bianca Tatamiya">
				<img src="<%= asset_path 'gallery/Rooftop_BiancaTatamiya036.jpg' %>" alt="" />
				<div class="mask">
					<h6>Hall de Recepção</h6>
				</div>
			</a>
			<a href="<%= asset_path 'gallery/cerimonial.jpg' %>" class="portfolio-wrap-four corporative" data-fancybox="abc" data-caption="Configurações múltiplas para atender eventos corporativos ou sociais / 432 pessoas para recepções como  banquetes e jantares / 512 pessoas para palestras em formato de auditório / 480 pessoas para auditório arena / 850 pessoas para coquetéis, festas e shows. - Foto por: Titan Cenografia">
				<img  src="<%= asset_path 'gallery/cerimonial.jpg' %>" alt="" />
				<div class="mask">
					<h6>Cerimonial</h6>
				</div>
			</a>
			<a href="<%= asset_path 'gallery/Rooftop_BiancaTatamiya067.jpg' %>" class="portfolio-wrap-four social" data-fancybox="abc" data-caption="Equipada com área de higienização (segregação), depósito de alimentos, câmara fria, coifa master, inúmeras bancadas e prateleiras de aço inox e acesso lateral para o grande salão. - Foto por: Bianca Tatamiya">
				<img  src="<%= asset_path 'gallery/Rooftop_BiancaTatamiya067.jpg' %>" alt="" />
				<div class="mask">
					<h6>Cozinha Industrial</h6>
				</div>
			</a>
			<a href="<%= asset_path 'gallery/Rooftop_BiancaTatamiya071.jpg' %>" class="portfolio-wrap-four corporative" data-fancybox="abc" data-caption="Ocupando 770 m² e altura que varia 4,5m a 6,5m, o salão multi-uso do 033 Rooftop apresenta a versatilidade e que poucos espaços para eventos possuem em São Paulo. - Foto por: Bianca Tatamiya">
				<img src="<%= asset_path 'gallery/Rooftop_BiancaTatamiya071.jpg' %>" alt="" />
				<div class="mask">
					<h6>Salão Principal</h6>
				</div>
			</a>
			<a href="<%= asset_path 'gallery/exposicao.jpg' %>" class="portfolio-wrap-four social" data-fancybox="abc" data-caption="Multifuncional e adaptável, o 033 Rooftop possui uma estrutura completa para realizar eventos corporativos, como congressos, conferências, workshops, simpósios, cursos, seminários, entre outros. Os palcos podem ser montados de acordo com cada evento tirando o melhor proveito da altura. A Sala Técnica, para suporte audiovisual, permite o controle e a administração do ambiente. - Foto por: 2R Cenografia">
				<img src="<%= asset_path 'gallery/exposicao.jpg' %>" alt="" />
				<div class="mask">
                    <h6>Exposição</h6>
				</div>
			</a>
		</div>
	</div>

</section>
