<section>

	<div class="section full-height relative over-hidden">
		<div id="rev_slider_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric1" style="background-color:transparent;padding:0px;">
		<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
			<div id="rev_slider" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
				<ul>	<!-- SLIDE  -->
					<li data-index="rs-148" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="<%= asset_path '70x70_infra.jpg' %>" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
						<img src="<%= asset_path 'infraestrutura.jpg'%>"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<div class="container">
							<div class="row">
								<!-- MAIN IMAGE -->
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title-3 tp-resizeme rs-parallaxlevel-0 rev_slider-home-title"
									 id="slide-148-layer-1"
									 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="z-index: 5; white-space: nowrap;">Infraestrutura

								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-SubTitle-3 tp-resizeme rs-parallaxlevel-0 rev_slider-home-subtitle"
									 id="slide-148-layer-2"
									 data-x="['left','center','center','center']" data-hoffset="['30','30','30','30']" data-size="['66','54','36','20']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"


									style="z-index: 6; white-space: nowrap;">Versatilidade e elegância<br>em um só espaço.<br>
									<p class="title-slider" style="font-size: 16px; line-height: 22px; font-family: 'Open Sans'; margin-top: 30px; font-style: normal; font-weight: 500;letter-spacing: 1px;    white-space: normal;">Com capacidade para até 800 pessoas e mais de 1200m², o 033 Rooftop é IDEAL para a realização de qualquer tipo de evento social ou corporativo, com sofisticação e exclusividade</p>
									<a href="" class="btn-roof">Conheça</a>
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0"
									 id="slide-148-layer-3"
									 data-x="['center','center','center','center']" data-hoffset="['-550','0','0','0']"
									 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
												data-width="35"
									data-height="55"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-style_hover="cursor:pointer;"

									 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"scrollbelow","offset":"-65"}]'
									data-basealign="slide"
									data-responsive_offset="off"
									data-responsive="off"

									style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
									<span>
									</span>

								</div>
							</div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-146" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-thumb="<%= asset_path '70x70_banner_two.jpg' %>"  data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
						<!-- MAIN IMAGE -->
						<img src="<%= asset_path 'banner_two.jpg'%>"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<div class="container">
							<div class="row">
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title-3 tp-resizeme rs-parallaxlevel-3  rev_slider-home-title"
									 id="slide-149-layer-4"
									 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="z-index: 5; white-space: nowrap;">Salão Multi-Uso
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-SubTitle-3 tp-resizeme rs-parallaxlevel-2 rev_slider-home-subtitle"
									 id="slide-149-layer-5"
									 data-x="['left','center','center','center']" data-hoffset="['30','30','30','30']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"


									style="z-index: 6; white-space: nowrap;">Flexibilidade e multifuncionalidade:<br>conheça o 033 Rooftop.
									<p class="title-slider" style="font-size: 16px; line-height: 22px; font-family: 'Open Sans'; margin-top: 30px; font-style: normal; font-weight: 500;letter-spacing: 1px;     white-space: normal;">O Salão principal do 033 Rooftop reúne versatilidade e conforto que poucos espaços para eventos possuem.    </p>
									<a href="" class="btn-roof">Conheça</a>
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0"
									 id="slide-148-layer-6"
									 data-x="['center','center','center','center']" data-hoffset="['-550','0','0','0']"
									 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
												data-width="35"
									data-height="55"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-style_hover="cursor:pointer;"

									 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"scrollbelow","offset":"-65"}]'
									data-basealign="slide"
									data-responsive_offset="off"
									data-responsive="off"

									style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
													<span>
													</span>

								</div>

							</div>
						</div>
					</li>					
					<!-- SLIDE  -->
					<li data-index="rs-149" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-thumb="<%= asset_path '70x70_localizacao.jpg' %>"  data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
						<!-- MAIN IMAGE -->
						<img src="<%= asset_path 'localizacao_rooftop.jpg'%>"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<div class="container">
							<div class="row">
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title-3 tp-resizeme rs-parallaxlevel-3  rev_slider-home-title"
									 id="slide-149-layer-4"
									 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="z-index: 5; white-space: nowrap;">Localização
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-SubTitle-3 tp-resizeme rs-parallaxlevel-2 rev_slider-home-subtitle"
									 id="slide-149-layer-5"
									 data-x="['left','center','center','center']" data-hoffset="['30','30','30','30']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"


									style="z-index: 6; white-space: nowrap;">Conforto, sofisticação e<br>localização privilegiada.
									<p class="title-slider" style="font-size: 16px; line-height: 22px; font-family: 'Open Sans'; margin-top: 30px; font-style: normal; font-weight: 500;letter-spacing: 1px;     white-space: normal;">Integrando o complexo WT JK, o 033 Rooftop possui fácil acesso pela Avenida Juscelino Kubitscheck ou pela Avenida Chedit Jafet</p>
									<a href="" class="btn-roof">Conheça</a>
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0"
									 id="slide-148-layer-6"
									 data-x="['center','center','center','center']" data-hoffset="['-550','0','0','0']"
									 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
												data-width="35"
									data-height="55"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-style_hover="cursor:pointer;"

									 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"scrollbelow","offset":"-65"}]'
									data-basealign="slide"
									data-responsive_offset="off"
									data-responsive="off"

									style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
													<span>
													</span>

								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption tp-resizeme rs-parallaxlevel-8"
									 id="slide-149-layer-10"
									 data-x="['left','left','left','left']" data-hoffset="['680','680','680','680']"
									 data-y="['top','top','top','top']" data-voffset="['632','632','632','632']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
									 data-transform_out="opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-responsive_offset="on"


									style="z-index: 10;">
										<div class="rs-looped rs-pendulum"  data-easing="linearEaseNone" data-startdeg="-20" data-enddeg="360" data-speed="35" data-origin="50% 50%"><img src="<%= asset_path 'blurflake4.png'%>" alt="" width="240" height="240" data-ww="['240px','240px','240px','240px']" data-hh="['240px','240px','240px','240px']" data-no-retina>
										</div>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption tp-resizeme rs-parallaxlevel-7"
									 id="slide-149-layer-11"
									 data-x="['left','left','left','left']" data-hoffset="['948','948','948','948']"
									 data-y="['top','top','top','top']" data-voffset="['487','487','487','487']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
									 data-transform_out="opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-responsive_offset="on"


									style="z-index: 11;">
										<div class="rs-looped rs-wave"  data-speed="20" data-angle="0" data-radius="50px" data-origin="50% 50%">
											<img src="<%= asset_path 'blurflake3.png' %>" alt="" width="170" height="170" data-ww="['170px','170px','170px','170px']" data-hh="['170px','170px','170px','170px']" data-no-retina>
										</div>
								</div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption tp-resizeme rs-parallaxlevel-4"
									 id="slide-149-layer-12"
									 data-x="['left','left','left','left']" data-hoffset="['719','719','719','719']"
									 data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
									 data-transform_out="opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-responsive_offset="on"


									style="z-index: 12;">
										<div class="rs-looped rs-rotate"  data-easing="Power2.easeInOut" data-startdeg="-20" data-enddeg="360" data-speed="20" data-origin="50% 50%"><img src="<%= asset_path 'blurflake2.png'%>" alt="" width="50" height="51" data-ww="['50px','50px','50px','50px']" data-hh="['51px','51px','51px','51px']" data-no-retina>
										</div>
								</div>

								<!-- LAYER NR. 9 -->
								<div class="tp-caption   tp-resizeme rs-parallaxlevel-6"
									 id="slide-149-layer-13"
									 data-x="['left','left','left','left']" data-hoffset="['187','187','187','187']"
									 data-y="['top','top','top','top']" data-voffset="['216','216','216','216']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
									 data-transform_out="opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-responsive_offset="on"


									style="z-index: 13;">
										<div class="rs-looped rs-wave"  data-speed="4" data-angle="0" data-radius="10" data-origin="50% 50%"><img src="<%= asset_path 'blurflake1.png'%>" alt="" width="120" height="120" data-ww="['120px','120px','120px','120px']" data-hh="['120px','120px','120px','120px']" data-no-retina>
										</div>
								</div>
							</div>
						</div>
					</li>


					<li data-index="rs-147" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-thumb="<%= asset_path '70x70_rooftop.jpg' %>"  data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
						<!-- MAIN IMAGE -->
						<img src="<%= asset_path 'rooftop.jpg'%>"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<div class="container">
							<div class="row">
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title-3 tp-resizeme rs-parallaxlevel-3  rev_slider-home-title"
									 id="slide-147-layer-4"
									 data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1000"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="z-index: 5; white-space: nowrap;">Rooftop
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-SubTitle-3 tp-resizeme rs-parallaxlevel-2 rev_slider-home-subtitle"
									 id="slide-149-layer-5"
									 data-x="['left','center','center','center']" data-hoffset="['30','30','30','30']"
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"


									style="z-index: 6; white-space: nowrap;">Arte, cultura e lazer em SP.
									<p class="title-slider" style="font-size: 16px; line-height: 22px; font-family: 'Open Sans'; margin-top: 30px; font-style: normal; font-weight: 500;letter-spacing: 1px; white-space: normal;">Localizado no terceiro pavimento do Teatro Santander, o 033 Rooftop é o destino para quem busca conforto, elegância e exclusividade - em cada detalhe - na realização de eventos sociais ou corporativos. Fale conosco e realize seu evento aqui.</p>
									<a href="" class="btn-roof">Conheça</a>
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0"
									 id="slide-148-layer-6"
									 data-x="['center','center','center','center']" data-hoffset="['-550','0','0','0']"
									 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
												data-width="35"
									data-height="55"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-style_hover="cursor:pointer;"

									 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"scrollbelow","offset":"-65"}]'
									data-basealign="slide"
									data-responsive_offset="off"
									data-responsive="off"

									style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
													<span>
													</span>

								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption tp-resizeme rs-parallaxlevel-8"
									 id="slide-149-layer-10"
									 data-x="['left','left','left','left']" data-hoffset="['680','680','680','680']"
									 data-y="['top','top','top','top']" data-voffset="['632','632','632','632']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
									 data-transform_out="opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-responsive_offset="on"


									style="z-index: 10;">
										<div class="rs-looped rs-pendulum"  data-easing="linearEaseNone" data-startdeg="-20" data-enddeg="360" data-speed="35" data-origin="50% 50%"><img src="<%= asset_path 'blurflake4.png'%>" alt="" width="240" height="240" data-ww="['240px','240px','240px','240px']" data-hh="['240px','240px','240px','240px']" data-no-retina>
										</div>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption tp-resizeme rs-parallaxlevel-7"
									 id="slide-149-layer-11"
									 data-x="['left','left','left','left']" data-hoffset="['948','948','948','948']"
									 data-y="['top','top','top','top']" data-voffset="['487','487','487','487']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
									 data-transform_out="opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-responsive_offset="on"


									style="z-index: 11;">
										<div class="rs-looped rs-wave"  data-speed="20" data-angle="0" data-radius="50px" data-origin="50% 50%">
											<img src="<%= asset_path 'blurflake3.png' %>" alt="" width="170" height="170" data-ww="['170px','170px','170px','170px']" data-hh="['170px','170px','170px','170px']" data-no-retina>
										</div>
								</div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption tp-resizeme rs-parallaxlevel-4"
									 id="slide-149-layer-12"
									 data-x="['left','left','left','left']" data-hoffset="['719','719','719','719']"
									 data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
									 data-transform_out="opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-responsive_offset="on"


									style="z-index: 12;">
										<div class="rs-looped rs-rotate"  data-easing="Power2.easeInOut" data-startdeg="-20" data-enddeg="360" data-speed="20" data-origin="50% 50%"><img src="<%= asset_path 'blurflake2.png'%>" alt="" width="50" height="51" data-ww="['50px','50px','50px','50px']" data-hh="['51px','51px','51px','51px']" data-no-retina>
										</div>
								</div>

								<!-- LAYER NR. 9 -->
								<div class="tp-caption   tp-resizeme rs-parallaxlevel-6"
									 id="slide-149-layer-13"
									 data-x="['left','left','left','left']" data-hoffset="['187','187','187','187']"
									 data-y="['top','top','top','top']" data-voffset="['216','216','216','216']"
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"

									 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
									 data-transform_out="opacity:0;s:1000;s:1000;"
									data-start="2000"
									data-responsive_offset="on"


									style="z-index: 13;">
										<div class="rs-looped rs-wave"  data-speed="4" data-angle="0" data-radius="10" data-origin="50% 50%"><img src="<%= asset_path 'blurflake1.png'%>" alt="" width="120" height="120" data-ww="['120px','120px','120px','120px']" data-hh="['120px','120px','120px','120px']" data-no-retina>
										</div>
								</div>
							</div>
						</div>
					</li>

				</ul>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
			</div>
		</div><!-- END REVOLUTION SLIDER -->
		<img src="<%= asset_path 'balls-top-right.png'%>" class="balls-top-right hidden-md-down" alt="">
		<img src="<%= asset_path 'balls-bottom-left.png'%>" class="balls-bottom-left hidden-md-down" alt="">
	</div>
</section>

<section>

	<div class="section above-default" id="scroll-link">

		<div class="shop-home-box-1-wrapper">
			<a href="<%= infrastructures_path %>" data-turbolinks="false">
				<div class="shop-home-box-1 half-width fitness">
					<img  src="<%= asset_path '2-col-tour.jpg'%>" alt="" />
					<h6>Infraestrutura<br><br><span>Conheça</span></h6>
				</div>
			</a>
			<a href="https://www.youtube.com/embed/0uIQ-IN8SXE" data-fancybox>
				<div class="shop-home-box-1 half-width fitness">
					<img  src="<%= asset_path '2-col-tour-2.jpg'%>" alt="" />
					<h6>TOUR VIRTUAL 360º<br><br><span>Conheça</span></h6>
				</div>
			</a>
		</div>

	</div>

</section>

<section id="diferencials" class="relative before-after">

	<div class="section margin-top white-background">

		<div class="container-fluid">
			<div class="row no-margin-bottom">
				<div class="col-md-12">
					<div class="text-center">
						<h3 class="title">Infraestrutura</h3>
						<h2 class="title-background"><span>Diferencial</span></h2>
						<p class="subtitle">Moderno, atemporal e multifuncional.</p>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="text-center">
						<p class="text">Seguindo a tendência mundial de utilizar ambientes situados no topo de edifícios, o novo espaço foi projetado para receber, com conforto e sofisticação eventos corporativos e sociais.</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="section white-background">

		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-lg-offset-1">
					<div class="about-box-2">
                        <div class="icon">
                           <%= image_tag('icons/localizacao_icon.png', alt: '') %>
                       </div>
						<h4>Ótima localização</h4>
						<div class="subtext">Fácil acesso pela Av. Chedit Jafet e  Av. Jucelino Kubitscheck</div>
						<hr>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-lg-offset-1">
                    <div class="about-box-1">
                        <div class="icon">
                           <%= image_tag('icons/piso_icon.png', alt: '') %>
                       </div>
                        <h4>Piso Elevado</h4>
                        <div class="subtext">Sistema de placas reforçadas e de alto desempenho que contribuem para um ambiente clean, organizado e elegante</div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12 col-lg-offset-1">
                    <div class="about-box-2">
                        <div class="icon">
                            <%= image_tag('icons/bar_icon.png', alt: '') %>
                        </div>
                         <h4>Bar Integrado</h4>
                         <div class="subtext">Mais de 16m lineares de balcão que integram os ambientes interno e externo</div>
                         <hr>
                     </div>
                </div>
                <div class="col-lg-5 col-md-12 col-lg-offset-1">
                     <div class="about-box-1">
                        <div class="icon">
                            <%= image_tag('icons/acessibilidade_icon.png', alt: '') %>
                        </div>
                         <h4>Acessibilidade</h4>
                         <div class="subtext">Estrutura completa para receber e acomodar pessoas com mobilidade reduzida e/ou portadoras de necessidades especiais, de acordo com a Normativa ABNT NBR 9050 : 2015</div>
                         <hr>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12 col-lg-offset-1">
                    <div class="about-box-2">
                        <div class="icon">
                            <%= image_tag('icons/jumbo_icon.png', alt: '') %>
                        </div>
                         <h4>Elevador Jumbo</h4>
                         <div class="subtext">Com capacidade de 2,5 toneladas, o elevador Jumbo suporta equipamentos e veículos.</div>
                         <hr>
                     </div>
                </div>
                <div class="col-lg-5 col-md-12 col-lg-offset-1">
                     <div class="about-box-1">
                        <div class="icon">
                            <%= image_tag('icons/vip_icon.png', alt: '') %>
                         </div>
                         <h4>Espaços Exclusivos</h4>
                         <div class="subtext">Sala de reunião VIP; varanda privativa com vista panorâmica privilegiada; camarim; sala técnica e outros ambientes reservados</div>
                         <hr>
                     </div>
                 </div>
            </div>
		</div>

	</div>

</section>

<section class="partners">

	<div class="section dark-background">

		<div class="container-fluid">

			<div class="col-lg-2 col-md-3 col-md-offset-1">

				<div class="box-title-partners flex vertical-center">
					<h2 class="text-partners">CLIENTES:</h2>
				</div>
			</div>
			<div class="col-lg-7 col-md-9">
				<div id="owl-logos-1" class="owl-carousel owl-theme">
					<div class="item" style="">
						<%= image_tag('santander-vermelho.jpg', alt: '', class: 'img-responsive') %>
					</div>

					<div class="item">
						<%= image_tag('cliente-iguatemi.png', alt: '', class: 'img-responsive') %>
					</div>

				</div>

			</div>
		</div>


</section>

<section id="benefits">

	<div class="section box-benefits padding-top-bottom-med">

		<div class="parallax-benefits"></div>

	</div>

</section>

<section id="text-benefits">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-5 relative">
				<h3>Tudo em um só lugar</h3>
				<h2 class="title-background"><span>Rooftop</span></h2>
				<p>Com 800 lugares e uma área de mais de 1200m², divididos em ambientes internos e externos, o 033 Rooftop ocupa o terceiro e último pavimento do Teatro Santander - apontado como um dos melhores teatros da capital paulista - e possibilita a realização de eventos sociais ou corporativos, com sofisticação e elegância.</p>

                <a href="<%= new_budget_path %>" data-turbolinks="false" class="btn-roof">Orçamento</a>
			</div>
			<div class="col-lg-offset-1 col-lg-2 padding-top-small">
				<span class="cliente">Sua empresa é Cliente Santander?</span>
				<p class="uppercase">Condições exclusivas aguardam o seu evento!</p>
                <%= link_to image_tag('advantages-exclusives.jpg', alt: ''), "https://www.santander.com.br/br/abra-sua-conta-corrente/", target: "_blank" %>
			</div>
		</div>
	</div>
</section>

<section id="gallery">

	<div class="section padding-top-grd">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="bigger-margin text-center">
						<h3 class="title-section">Conheça 033 Rooftop</h3>
						<h2 class="title-background"><span>Galeria</span></h2>
						<p class="subtitle-section">Elegante, Versátil e Atemporal</p>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- 	<div class="section">
		<div class="container">
			<div class="remove-top remove-bottom">
				<div id="portfolio-filter">
					<ul id="filter">
						<li><a href="#" class="current" data-filter="*" title="">Todos</a></li>
						<li><a href="#" data-filter=".social" title="">Social</a></li>
						<li><a href="#" data-filter=".corporative" title="">Corporativo</a></li>
						<li><a href="#" data-filter=".structure" title="">Estrutura</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->

    <div id="render-galleries"></div>
    <script id="list-galleries" type="text/x-handlebars-template">
        <div id="box-gallery">
            <div class="portfolio-wrapper-1">
                {{#each data}}
                    <a href="{{attributes.image-large}}"  class="portfolio-wrap-four social" data-fancybox="abc" data-caption="{{attributes.description}} {{attributes.photographer}}">
                        <img src="{{attributes.image-mini}}" alt=""/>
                        <div class="mask">
                            <h6>{{attributes.title}}</h6>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </script>
</section>

<section id="google-map" class="section">
	<div id="cd-google-map">
		<div id="google-container"></div>
		<div id="cd-zoom-in"></div>
		<div id="cd-zoom-out"></div>
		<address>
			<span>Av. Presidente Juscelino</span><br><span>Kubitschek, 2041</span><br><span>Bairro Itaim Bibi - SP</span>
		</address>

	</div>
</section>
